#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RHCI Instructor Tools
GenericName=RHCI Instructor Tools
X-GNOME-FullName=RHCI Instructor Tools
Exec=/opt/rhci_foundation/start_rhci_tools.sh
Terminal=false
Icon=/opt/rhci_foundation/smallicon.png
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Education;System;Utility;
Name[en_US]=RHCI Instructor Tools
